<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmt.graduate.paper.dao.CamMapper">
  <resultMap id="BaseResultMap" type="com.hmt.graduate.paper.pojo.Cam">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="acute" jdbcType="INTEGER" property="acute" />
    <result column="attention" jdbcType="INTEGER" property="attention" />
    <result column="thinking" jdbcType="INTEGER" property="thinking" />
    <result column="sence" jdbcType="INTEGER" property="sence" />
    <result column="directional" jdbcType="INTEGER" property="directional" />
    <result column="patient_id" jdbcType="INTEGER" property="patientId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="memory_loss" jdbcType="INTEGER" property="memoryLoss" />
    <result column="perception_disorders" jdbcType="INTEGER" property="perceptionDisorders" />
    <result column="psycho_sport_excitement" jdbcType="INTEGER" property="psychoSportExcitement" />
    <result column="mental_sport_slow" jdbcType="INTEGER" property="mentalSportSlow" />
    <result column="wave" jdbcType="INTEGER" property="wave" />
    <result column="sleep_wake_cycle" jdbcType="INTEGER" property="sleepWakeCycle" />
  </resultMap>

  <sql id="Base_Column_List">
    id, acute, attention, thinking, sence, directional, patient_id, status, create_time,
    memory_loss, perception_disorders, psycho_sport_excitement, mental_sport_slow, wave, 
    sleep_wake_cycle
  </sql>

  <select id="selectCamByPatientId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from cam
    <where>
      patient_id = #{patientId,jdbcType=INTEGER}
    </where>
  </select>

  <insert id="insert" parameterType="com.hmt.graduate.paper.pojo.Cam">
    insert into cam ( acute, attention,
      thinking, sence, directional, 
      patient_id, status, create_time, 
      memory_loss, perception_disorders, psycho_sport_excitement, 
      mental_sport_slow, wave, sleep_wake_cycle
      )
    values (#{acute,jdbcType=INTEGER}, #{attention,jdbcType=INTEGER},
      #{thinking,jdbcType=INTEGER}, #{sence,jdbcType=INTEGER}, #{directional,jdbcType=INTEGER}, 
      #{patientId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{memoryLoss,jdbcType=INTEGER}, #{perceptionDisorders,jdbcType=INTEGER}, #{psychoSportExcitement,jdbcType=INTEGER}, 
      #{mentalSportSlow,jdbcType=INTEGER}, #{wave,jdbcType=INTEGER}, #{sleepWakeCycle,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hmt.graduate.paper.pojo.Cam">
    insert into cam
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="acute != null">
        acute,
      </if>
      <if test="attention != null">
        attention,
      </if>
      <if test="thinking != null">
        thinking,
      </if>
      <if test="sence != null">
        sence,
      </if>
      <if test="directional != null">
        directional,
      </if>
      <if test="patientId != null">
        patient_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="memoryLoss != null">
        memory_loss,
      </if>
      <if test="perceptionDisorders != null">
        perception_disorders,
      </if>
      <if test="psychoSportExcitement != null">
        psycho_sport_excitement,
      </if>
      <if test="mentalSportSlow != null">
        mental_sport_slow,
      </if>
      <if test="wave != null">
        wave,
      </if>
      <if test="sleepWakeCycle != null">
        sleep_wake_cycle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="acute != null">
        #{acute,jdbcType=INTEGER},
      </if>
      <if test="attention != null">
        #{attention,jdbcType=INTEGER},
      </if>
      <if test="thinking != null">
        #{thinking,jdbcType=INTEGER},
      </if>
      <if test="sence != null">
        #{sence,jdbcType=INTEGER},
      </if>
      <if test="directional != null">
        #{directional,jdbcType=INTEGER},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memoryLoss != null">
        #{memoryLoss,jdbcType=INTEGER},
      </if>
      <if test="perceptionDisorders != null">
        #{perceptionDisorders,jdbcType=INTEGER},
      </if>
      <if test="psychoSportExcitement != null">
        #{psychoSportExcitement,jdbcType=INTEGER},
      </if>
      <if test="mentalSportSlow != null">
        #{mentalSportSlow,jdbcType=INTEGER},
      </if>
      <if test="wave != null">
        #{wave,jdbcType=INTEGER},
      </if>
      <if test="sleepWakeCycle != null">
        #{sleepWakeCycle,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

</mapper>