<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmt.graduate.paper.dao.PatientMapper">
  <resultMap id="BaseResultMap" type="com.hmt.graduate.paper.pojo.Patient">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="adress" jdbcType="VARCHAR" property="adress" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="allergy" jdbcType="VARCHAR" property="allergy" />
    <result column="family_disease" jdbcType="VARCHAR" property="familyDisease" />
    <result column="symptom" jdbcType="VARCHAR" property="symptom" />
    <result column="illness_time" jdbcType="DATE" property="illnessTime" />
    <result column="degree" jdbcType="CHAR" property="degree" />
    <result column="phone_no" jdbcType="VARCHAR" property="phoneNo" />
    <result column="hispital_no" jdbcType="VARCHAR" property="hispitalNo" />
    <result column="primary_diagnosis" jdbcType="VARCHAR" property="primaryDiagnosis" />
    <result column="history_disease" jdbcType="VARCHAR" property="historyDisease" />
    <result column="history_anesthesia" jdbcType="VARCHAR" property="historyAnesthesia" />
    <result column="marriage" jdbcType="CHAR" property="marriage" />
  </resultMap>
  <sql id="class_param_keyword">
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="age != null">
        and age = #{age}
      </if>
      <if test="sex != null">
        and sex = #{sex}
      </if>
      <if test="adress != null">
        and adress = #{adress}
      </if>
      <if test="createDate != null">
        and create_date = #{createDate}
      </if>
      <if test="allergy != null">
        and allergy = #{allergy}
      </if>
      <if test="familyDisease != null">
        and family_disease = #{familyDisease}
      </if>
      <if test="symptom != null">
        and symptom = #{symptom}
      </if>
      <if test="illnessTime != null">
        and illness_time = #{illnessTime}
      </if>
      <if test="degree != null">
        and degree = #{degree}
      </if>
      <if test="phoneNo != null">
        and phone_no = #{phoneNo}
      </if>
      <if test="hispitalNo != null">
        and hispital_no = #{hispitalNo,jdbcType=VARCHAR}
      </if>
      <if test="primaryDiagnosis != null">
        and primary_diagnosis = #{primaryDiagnosis}
      </if>
      <if test="historyDisease != null">
        and history_disease = #{historyDisease}
      </if>
      <if test="historyAnesthesia != null">
        and history_anesthesia = #{historyAnesthesia}
      </if>
      <if test="marriage != null">
        and marriage = #{marriage}
      </if>
  </sql>
  
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, age, sex, adress, create_date, allergy, family_disease, symptom, illness_time,
    degree, phone_no, hispital_no, primary_diagnosis, history_disease, history_anesthesia, 
    marriage
  </sql>
  <insert id="insert" parameterType="com.hmt.graduate.paper.pojo.Patient">
    insert into patients (name, age,
      sex, adress, create_date, 
      allergy, family_disease, symptom, 
      illness_time, degree, phone_no, 
      hispital_no, primary_diagnosis, history_disease, 
      history_anesthesia, marriage)
    values (#{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER},
      #{sex,jdbcType=INTEGER}, #{adress,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{allergy,jdbcType=VARCHAR}, #{familyDisease,jdbcType=VARCHAR}, #{symptom,jdbcType=VARCHAR}, 
      #{illnessTime,jdbcType=TIMESTAMP}, #{degree,jdbcType=CHAR}, #{phoneNo,jdbcType=VARCHAR}, 
      #{hispitalNo,jdbcType=VARCHAR}, #{primaryDiagnosis,jdbcType=VARCHAR}, #{historyDisease,jdbcType=VARCHAR}, 
      #{historyAnesthesia,jdbcType=VARCHAR}, #{marriage,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hmt.graduate.paper.pojo.Patient">
    insert into patients
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="adress != null">
        adress,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="allergy != null">
        allergy,
      </if>
      <if test="familyDisease != null">
        family_disease,
      </if>
      <if test="symptom != null">
        symptom,
      </if>
      <if test="illnessTime != null">
        illness_time,
      </if>
      <if test="degree != null">
        degree,
      </if>
      <if test="phoneNo != null">
        phone_no,
      </if>
      <if test="hispitalNo != null">
        hispital_no,
      </if>
      <if test="primaryDiagnosis != null">
        primary_diagnosis,
      </if>
      <if test="historyDisease != null">
        history_disease,
      </if>
      <if test="historyAnesthesia != null">
        history_anesthesia,
      </if>
      <if test="marriage != null">
        marriage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="adress != null">
        #{adress,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="allergy != null">
        #{allergy,jdbcType=VARCHAR},
      </if>
      <if test="familyDisease != null">
        #{familyDisease,jdbcType=VARCHAR},
      </if>
      <if test="symptom != null">
        #{symptom,jdbcType=VARCHAR},
      </if>
      <if test="illnessTime != null">
        #{illnessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="degree != null">
        #{degree,jdbcType=CHAR},
      </if>
      <if test="phoneNo != null">
        #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="hispitalNo != null">
        #{hispitalNo,jdbcType=VARCHAR},
      </if>
      <if test="primaryDiagnosis != null">
        #{primaryDiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="historyDisease != null">
        #{historyDisease,jdbcType=VARCHAR},
      </if>
      <if test="historyAnesthesia != null">
        #{historyAnesthesia,jdbcType=VARCHAR},
      </if>
      <if test="marriage != null">
        #{marriage,jdbcType=CHAR},
      </if>
    </trim>
  </insert>

  <select id="selectAllPatients" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from patients
  </select>

  <select id="selectByParam" parameterType="com.hmt.graduate.paper.pojo.Patient" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from patients
    <where>
      <include refid="class_param_keyword"></include>
    </where>
  </select>

  <update id="update" parameterType="com.hmt.graduate.paper.pojo.Patient" >
    update patients
    <set>
      <include refid="class_param_keyword"/>
    </set>
    <where>
      id = #{id}
    </where>
  </update>
  <delete id="delPatient" parameterType="java.lang.Integer" >
    delete from patients
    <where>
      id = #{id}
    </where>
  </delete>

  <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from patients
    <where>
      id = #{id}
    </where>
  </select>

</mapper>